<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Books</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'fav_books_app/css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/books">Favorite Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    App Directory
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/books">Favorite Books</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/wall">The Wall!</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/success">Welcome Page</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text mr-2">
                Welcome {{ user.first_name }}!
            </span>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-light my-2 my-sm-0" href="/logout">Logout</a>
            </form>
        </div>
    </nav>
    <main role="main" class="container">
        <div class="row mt-5">
            <div class="col">
                <h3>Add a Book</h3>
                <form action="/books/add_book" method="POST">
                    {% csrf_token %}
                    <div class="col">
                        <div class="form-group">
                            <label>Title:</label>
                            <input name="new_book" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <textarea name="new_description" class="form-control" rows="5" required></textarea>
                        </div>
                    <button class="button" type="submit">Add</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <h3>All Books</h3>
                <div class="list-group">
                    {% for book in all_books reversed %}
                    <a href="/books/{{ book.id }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ book.title }}</h5>
                        <small>Last Update: {{ book.updated_at }}</small>
                        </div>
                        <p class="mb-1">(added by {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})</p>
                        {% if book in user.liked_books.all %}
                            <small>this is one of your favorites</small>
                        {% else %}
                            <form action="/books/add_favorite" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="book_id" value="{{ book.id }}">
                                <small><button class="button" type="submit">add to favorites</button></small>
                            </form>
                        {% endif %}
                    </a>
                    {% endfor%} 
                </div>
            </div> 
        </div>
    </main>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>