<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Checkerboard</h1>
    <table  >
    {% for x in range(num_columns): %}
        <tr>
            {% for y in range(num_rows): %}
            <td class ="color{{(x+y)%2}}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>
</body>
</html>