<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <main role="main" class="container">
        <div class="jumbotron text-center">
            <h1 class="jumbotron-heading">Welcome to the Great Number Game!</h1>
            <p class="lead">I am thinking of a number between 1 and 100</p>
            <p class="lead">Take a quess!</p>
        </div>
        <div class="container game-container">
            {% if session['game_result'] == None: %}
                <div class="results">
                    <form action="/user_guess" method="POST">
                    <input type="number" name="guess">
                    <input type="submit" value="submit">
                    </form>
                </div>
            {% endif %}
            {% if session['game_result'] == "win": %}
                <div class="results win">
                    <p>Winner, winner, chicken dinner!</p>
                    <form action="/reset_game" method="POST">
                    <input type="submit" value="Play again!">
                    </form>
                </div>
            {% endif %}
            {% if session['game_result'] == "low": %}
                <div class="results lose">
                    <p>To low, try again.</p>
                    <form action="/user_guess" method="POST">
                    <input type="number" name="guess">
                    <input type="submit" value="submit">
                    </form>
                </div>
            {% endif %}
            {% if session['game_result'] == "high": %}
                <div class="results lose">
                    <p>To high, try again.</p>
                    <form action="/user_guess" method="POST">
                    <input type="number" name="guess">
                    <input type="submit" value="submit">
                    </form>
                </div>
            {% endif %}
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>